<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Cards Against Equinity</title>
    <link rel="stylesheet" href="/css/cah.css"/>
    <link rel="stylesheet" href="/css/jquery-ui-1.10.0.custom.css"/>

    <script src="/js/ICanHaz.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/event_handlers.js"></script>
    <script src="/js/cah.js"></script>

    <script id="t_users" type="text/html">
    <ul>
        {{#users}}
                <li class="user {{czar}}
                {{#unplayed}} unplayed{{/unplayed}}
                {{#afk}} afk{{/afk}}
                {{#round_winner}} round_winner{{/round_winner}}">
                    <span class="kick_user" username="{{username}}">X</span>
                    <span class="score">{{score}}</span>
                    {{username}}
                    {{#czar}}- Czar{{/czar}}
                    {{#afk}}- AFK {{/afk}}
                </li>
        {{/users}}
        {{^users}}
            No users :(
        {{/users}}
    </ul>
    </script>

    <script id="t_white_cards" type="text/html">
        {{#white_cards}}
            {{>t_white_card}}
        {{/white_cards}}
    </script>

    <script id="t_play_area_judge" type="text/html">
        {{#cards}}
            <div class="card_group card_group_{{num_cards}}cards" group_id="{{group_id}}">
                {{>t_white_cards}}
                <div style="container"></div>
            </div>
        {{/cards}}
    </script>

    <script id="t_white_card" type="text/html">
        <div class="card white_card" card_id="{{card_id}}">
            {{text}}
        </div>
    </script>

    <script id="t_black_card" type="text/html">
        <div class="card black_card" card_id="{{id}}">
            {{text}}
            <span class="num_white_cards_{{num_white_cards}}">{{num_white_cards}}</span>
        </div>
    </script>

    <script id="t_timer" type="text/html">
        <div class="timer">
            <button type="button" class="restart_timer">Restart Timer (once)</button>
            <span>
                {{title}}
            </span>
            <span class="timer_duration">{{duration}}</span>
        </div>
    </script>

    <script id="t_header" type="text/html">
            <input placeholder="Username..." class="username"/>
            <input class="login" type="submit" value="Join"/>
            <button class="start {{#game_running}}hide{{/game_running}}">Start Game</button>
            <input type="checkbox" class="notify" checked="true">Notify Sound</input>
            <input class="afk_checkbox" type="checkbox" {{#afk}}checked="{{afk}}"{{/afk}}>AFK</input>
            <div class="size_slider"></div> Card Size
            <button class="rooms_button">Rooms</button>
            <button class="about_button">About...</button>
            <div class="timers container"></div>
    </script>

    <script id="t_chat_msg" type="text/html">
        <div class="message{{#highlight}} highlight{{/highlight}}">
            <span class="chat_user">{{username}}: </span>
            <span class="chat_msg">{{message}}</span>
        </div>
    </script>

    <script id="t_rooms" type="text/html">
        <div class="dialog">
            {{#rooms}}
                <div class="room">
                Users: {{#users}}{{username}} {{/users}}
                <button class="join_game" game_id="{{game_id}}">Join Game</button>
                </div>
            {{/rooms}}
            <button class="create_room">Create</button>
            <button class="close_dialog">Close</button>
        </div>
    </script>

    <script id="t_about" type="text/html">
        <div class="dialog">
            <p>
                This is a web-based implementation of the Cards Against Humanity party game, originally created by <a
                    href="http://www.cardsagainsthumanity.com" target="_blank">Cards Against Humanity, LLC.</a> Content from the original Cards
                Against Humanity is used by permission under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" target="_blank">Creative
                Commons BY-NC-SA 2.0 license</a>.
            </p>

            <p>
                <a href="https://github.com/berrycardsagainsthumanity/cah/" target="_blank">Would you like to see what's going on behind the
                    scenes?</a>
            </p>
            <button class="close_dialog">Close</button>
        </div>
    </script>

    <script id="t_round_winner_message" type="text/html">
        <div class="message server">
            <span class="chat_msg">
            Server: {{username}} won. -
                {{#message_parts}}
                    <span class="{{class}}">{{text}}</span>
                {{/message_parts}}
            </span>
        </div>
    </script>

</head>
<body>
<div class="wrapper container">
    <div class="header">

    </div>
    <div class="left_pane">
        <div class="hand_container">
            <div class="hand container"></div>
            <div class="hand_overlay overlay"><span
                    class="hand_overlay_text overlay_text"></span></div>
        </div>
        <div class="play_area container">
            <div class="play_area_black"></div>
            <div class="play_area_whites"></div>
            <div class="play_area_overlay overlay"><span
                    class="play_area_overlay_text overlay_text">Waiting for players</span>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="users container"></div>
    </div>
    <div class="push"></div>
</div>
<div class="chat_wrapper">
    <div class="chat">

    </div>
    <input class="chat_input" type="text"/>
</div>

</body>
</html>
