var cah = {
    debug:true,
    CHATLIST: [],
    subscribed_topics: [],
    wamp_prefix: "http://{{ server_domain }}:{{ server_port }}/",
    wsuri: "ws://{{ websocket_domain }}:{{ websocket_port }}"
};
